/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

body {
	/*background: black;*/
}

.brands {
	position: relative;
	z-index: -1;
	width: 1200px;
	height: auto;
	overflow: auto;
	padding: -3px;

	.brand {
	float:left;
	position:relative;
	z-index: -1;

		.brand_img {
			opacity: 0.4;
			float:left;
			position:relative;
			z-index: 1;

			&:hover {
				opacity: 1.0;
				z-index: 1;
			}
		}
		
		.tab{
			background-color:lightgrey;
			overflow:hidden;
			opacity:1.0;
			width:100%;
			height:226px;
			position:absolute;
			bottom:15em;
		}

		.logo_img {
		position:absolute;
		text-align:center;
		z-index: 3;
		width:50%;
		left:10em;
		top:2em;
		}
	}
}

.page__title {
	display: hidden;
}

#main-menu {
	float: right;
	position: relative;
	right: -10px;
}

/* Main Menu */
#navigation {
	top: -54px;
	// left: -210px;
	font-family: "abeatbykai";
}

#navigation #main-menu .active {
	background-color: lightgrey;
}

#navigation .links li, #navigation .menu li {
	padding: 10px 10px 20px 10px;
}

/* Remove main menu underline */
#navigation nav ul li a {
	text-decoration: none;
}

/* Logo */
.header__logo {
	// right: -16px;
	position: relative;
}

.header {
	background-color: #555555;
}

/* Adding Custom Font */
@font-face {
	font-family: "abeatbykai";
	src: url("../font/abeatbykai/abeatbyKaiRegular.otf");
}