/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

body {
	background: black;
}

.brand {
	float: left;
	height: 700px;
	top: -280px;
	z-index: -1;
}

.brands {
	position: fixed;
	top: 0;
	z-index: -1;
}

.page__title {
	display: hidden;
}

#main-menu {
	float: right;
}

/* Main Menu */
#navigation {
	top: -50px;
	left: -210px;
	font-family: "abeatbykai";
}

/* Remove main menu underline */
#navigation nav ul li a {
	text-decoration: none;
}

/* Logo */
.header__logo {
	right: -16px;
	position: relative;

}

/* Adding Custom Font */
@font-face {
	font-family: "abeatbykai";
	src: url("../font/abeatbykai/abeatbyKaiRegular.otf");
}